
 .my-legend .legend-title .legend-units {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
    height: 50%
    }

  .my-legend .legend-bar {
    height: 250px;
    width: 15px;
    text-align: left;
    float: left;
    }
  .my-legend {
    position: absolute;
    color: #777;
    top: 250px;
    right: 10px;
    padding-right: 1cm;
    padding-left: 1cm;
    padding-bottom: 0.5cm;
    border:1px solid black;
    border-radius: 1em;
    background-color: rgba(255,255,255,0.7);
    }
   #paramUI {
    position: absolute;
    color: #777;
    top: 10px;
    right: 10px;
    padding-top: 0;
    padding-right: 1cm;
    padding-left: 1cm;
    padding-bottom: 0;
    border:1px solid black;
    border-radius: 1em;
    background-color: rgba(255,255,255,0.7);
    }

    #paramUI li {
      display: table-row;
    }
    #paramUI li div {
      display: table-cell;
      border: 1px#000 solid;
      vertical-align: middle;
    }
    #paramUI ul {
      padding-left: 0;
    }

  #canvas {
    position: absolute;
    top: 50px;
    left: 150px;
    /*text-align: center;*/
  }
  #worldwind {
    width: 800px;
    height: 600px;

  }
